<html>
    
    <head>
        
        <link href="/public/css/css.css" rel="stylesheet" type="text/css">  
        
    </head>
    
    <body>
    <div class = "profile-container">
        
            <div class = "profile github-profile">
                <%if (user.tokens.github) { %>
                
                <p><span class = "profile-heading">Github Username:</span> <%= user.github.username %></p>
                <p><span class = "profile-heading">Github Profile:</span> <a href =<%= user.github.profileUrl %>><%= user.github.profileUrl %></a></p>
                <% } %>
        <div class = "loginbutton loginbutton-github">
            <a id = "github" href = "/auth/github"><img src = "/public/images/github.png" class = "logo"><p id = "github-text">Sign in with Github</p></a>
        </div>
    </div>
    <div class = "profile google-profile">
        <%if (user.tokens.google) { %>
                
                <p><span class = "profile-heading">Google Username:</span> <%= user.google.username %></p>
                <% } %>
        <div class = "loginbutton loginbutton-google">
            <a id = "google" href = "/auth/google"><img src = "/public/images/google.png" class = "logo"><p id = "google-text">Sign in with Google</p></a>
        </div>
    </div>
    <div class = "profile twitter-profile">
        <%if (user.tokens.twitter) { %>
                
                <p><span class = "profile-heading">Twitter Username:</span> <%= user.twitter.username %></p>
                <% } %>
        <div class = "loginbutton loginbutton-twitter">
           <a id = "twitter" href = "/auth/twitter"><img src = "/public/images/twitter.png" class = "logo"><p id = "twitter-text">Sign in with Twitter</p></a>
        </div>
    </div>
    <div class = "profile facebook-profile">
        <%if (user.tokens.facebook) { %>
                
                <p><span class = "profile-heading">Facebook Username:</span> <%= user.facebook.username %></p>
                <% } %>
        <div class = "loginbutton loginbutton-facebook">
            <a id ="facebook" href = "/auth/facebook"><img src = "/public/images/facebook.png" class = "logo"><p id = "facebook-text">Sign in with Facebook</p></a>
        </div>
    </div>
    </div>

    <div class ="indexContainer" id = "imageContainer">
    <p id = "profileImageText" class = "boldText"></p>
    </div>
    </div>
    
    <div class =  "link-container">
      <a href = "/">Home</a>
      <a href = "/logout">Logout</a>
    </div>
        
   <script type = "text/javascript" src = "/ajax/requests.js"></script>
   <script type = "text/javascript" src = "/controllers/profileController.js"></script>
        
        
        
        
    </body>
    
    
    
    
    
    
</html>